<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <sessionState mode="InProc" timeout="525600" cookieless="UseCookies" cookieName="ASP.NET_SessionId" regenerateExpiredSessionId="true">
      <providers>
        <clear/>
      </providers>
    </sessionState>
  </system.web>

  <appSettings>
    <add key="Desharp:Enabled" value="1"/>
    <add key="Desharp:Output" value="html"/>
    <!--add key="Desharp:DebugIps" value="127.0.0.1,::1" /-->
    <add key="Desharp:Levels" value="+exception,debug,info,-notice,-warning,+error,+critical,alert,+emergency,javascript"/>
    <add key="Desharp:Panels" value="Desharp.Panels.SystemInfo,Desharp.Panels.Session"/>
    <add key="Desharp:Directory" value="~/Logs"/>
    <add key="Desharp:ErrorPage" value="~/custom-server-error-page.html"/>
  </appSettings>
  
  <system.webServer>
    
    <modules>
      <remove name="OutputCache"/>
	    <remove name="WindowsAuthentication"/>
	    <remove name="FormsAuthentication"/>
	    <remove name="DefaultAuthentication"/>
	    <remove name="RoleManager"/>
	    <remove name="UrlAuthorization"/>
	    <remove name="FileAuthorization"/>
	    <remove name="AnonymousIdentification"/>
	    <remove name="Profile"/>
	    <remove name="UrlMappingsModule"/>
	    <remove name="ServiceModel-4.0"/>
	    <remove name="UrlRoutingModule-4.0"/>
	    <remove name="ScriptModule-4.0"/>
	    <!-- https://docs.microsoft.com/en-us/iis/configuration/system.webserver/modules/add -->
      <add name="Desharp" type="Desharp.Module" preCondition="managedHandler"/>
    </modules>
    <caching enabled="false" enableKernelCache="false"/>
    <directoryBrowse enabled="false"/>
    
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="Desharp.config.example"/>
          <add segment="Logs"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

    <rewrite>
      <rules>
        <rule name="All to empty Index.aspx to handle everything in Global.aspx" enabled="true" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <action type="Rewrite" url="Index.aspx?{R:1}"/>
        </rule>
      </rules>
    </rewrite>

	  <httpErrors errorMode="Detailed"/>
    
    <staticContent>
        <mimeMap fileExtension=".md" mimeType="text/x-markdown"/>
    </staticContent>
    
  </system.webServer>
  
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>

</configuration>
